@model SearchResult
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="get" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="search">Game</label>
        <input class="form-control" id="search" name="search" placeholder="Video Game" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<hr />
<div class="plate">
@if (Model != null)
{
    <ul>
    @foreach (GameResult gameResult in Model.Results)
    {
        <li><a asp-area="" asp-controller="game" asp-action="@gameResult.Slug">@gameResult.Name</a></li>
    }
    </ul>
}
</div>